.is-invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
}

.register-bg{
  background: url(https://yastatic.net/s3/passport-auth-customs/_/i/100/5f4fa62059c38ac55d75b8c5f5961acc.jpg) 50% 50%/cover no-repeat;
   height: 100%;
}

.registr-wrapper {
  height: calc(100vh - 69px);
  margin: 0 -30px;
  background: white;
}

.register-body {
  width: 80%;
  padding: 0 30px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  margin: auto;
}

.register-btn {
  width: 100%;
  height: 48px;
  padding: 5px 0;
  border-radius: 3px;
  border: none;
  background-color: #ffdb4d;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 20px;
}

.facebook {
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
}
.facebook:hover {
  background-color: #365899 !important;
  border-color: #365899 !important;
}

.register-btn:hover {
  background-color: #ffd633;
}

.register-btn:focus {
  outline: none;
}

.register-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.register-title {
  margin-bottom: 16px;
}

.register-title h1 {
  margin: 0 12px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  color: #000;
}

.register-title img {
  margin-left: -20px;
}

.register-goBack {
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #b3b3b3;
  padding: 0;
}

.register-goBack:hover {
  opacity: 1;
  background: #666;
  border-radius: 50%;
}

.register-link {
  font-size: 14px;
  color: #4981d7;
}

.register-link:hover {
  text-decoration: none;
  color: #04b;
}

@media screen and (min-width: 500px) {
  .register-body {
    width: 360px;
  }
  .registr-wrapper {
    background: transparent;
  }
}
